section.about {
  background-image: url('/assets/img/paws.svg');
  background-repeat: no-repeat;
  padding: 40px 0 100px 0;
  background-size: 100%;
  background-position: top center;
  h2 {

  }
  p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
