@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
}

html, body {
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
